header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02135C;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
   
nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #B30802;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #B30802;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover{
    background-color: #EB5757;
    transform: scale(0.9);
}

#nome{
    display: inline-block;
    font-family: "Kreon", serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    background-color: #02135C;
    color: #B30802;
    position: absolute;
    top: 189px;
    left: 127px;
    padding: 22px 61px 92px 60px;
    box-shadow: 10px 10px 0px #000;
}

#profissao{
    display: inline-block;
    font-family: "Kreon", serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 277px;
    left: 127px;
    padding: 18px 97px 14px 97px;
}