.banner{
    box-sizing: border-box;
    background-image: url('../../assets/img/photo.png');
    height: 780px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 78px;
    padding-left: 67px;
    background-color: #3A4042;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box{
    margin-bottom: 50px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}