.main-title {
    font-family: "kreon", serif;
    font-size: 64px;
    color: #B30802;
    font-weight: 700;
    text-shadow: 3px 3px 0 #000;
}

.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}