.main-section {
    background-color: #B30802;
    padding-top: 50px;
    padding-bottom: 60px;
    border-bottom: 10px solid #02135C;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdRed {
    border-color: #B30802;
}