.main-carousel {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.main-carousel::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 30px;
    content: '';
    border: 2.5px dashed #000;
    width: 100%;
}

.main-carousel::after {
    display: block;
    position: absolute;
    left: 50px;
    top: 30px;
    content: '';
    height: 5px;
    width: calc(100% - 100px);
    background-color: #000;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-around;
    transition: tranform 100ms ease-in-out;
}