.skill-tec {
    display: flex;
    font-family: "kreon", serif;
    font-size: 25px;
    color: #fff;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 80px;
    height: 90px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}